<%= title %>
<%= '=' * title.size %>

TODO: Write a stanza description

## Parameters:

(* = required)

| Name             | Description                         |
|------------------|-------------------------------------|
| *data-stanza-foo | TODO: Write a parameter description |

## Sample:

```html
<div data-stanza="<stanza url>"></div>
```

The above `<div>` will automatically embed the following Stanza in your HTML page.

<div data-stanza="/stanza/<%= stanza_id %>"></div>
