{
  "@id": "http://togogenome.org/stanza/<%= stanza_id %>",
  "stanza:label": "",
  "stanza:definition": "",
  "stanza:parameter": [
  ],
  "stanza:usage": "<div data-stanza=\"http://togogenome.org/stanza/<%= stanza_id %>\"></div>",
  "stanza:type": "Stanza",
  "stanza:context": "",
  "stanza:display": "",
  "stanza:provider": "provider of this stanza",
  "stanza:license": "",
  "stanza:author": "author name",
  "stanza:address": "name@example.org",
  "stanza:contributor": [ "Taro Stanza", "Hanako Stanza" ],
  "stanza:created": "<%= Date.today %>",
  "stanza:updated": "<%= Date.today %>"
}
