@charset "UTF-8";

body {
  background-color: #fff;
  font-family: "Helvetica Neue","Arial",san-serif;
  height: 160px;
  font-size: 12px;
  line-height: 140%;
  overflow: hidden;
}
body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #309DB0;
}

h1 {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 10px 6px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #45b8cc;
  text-align: center;
  text-shadow: -1px -1px 0px #fff, -1px 0px 0px #fff, -1px 1px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff, 1px -1px 0px #fff, 1px 0px 0px #fff, 1px 1px 0px #fff;
  z-index: 1;
}


/* extension
 -------------------------- */
#extension {
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  z-index: 10000;
  -moz-transition: opacity .2s ease-out 0s;
  -webkit-transition: opacity .2s ease-out 0s;
  -o-transition: opacity .2s ease-out 0s;
  -ms-transition: opacity .2s ease-out 0s;
  transition: opacity .2s ease-out 0s;
  opacity: 0;
  top: 0;
  left: 0;
}
#extension:hover {
  opacity: 1;
}
#extension p {
  margin: 0 10px; 
}
#extension a {
  color: #fff;
}
#extension a:before {
  content: "";
  display: inline-block;
  background-image: url(../addition/csssprite.png?12356);
  margin-right: .5em;
}
#extension .blank a:before {
  background-position: -220px -60px;
  width: 10px;
  height: 9px;
}


/* text
 -------------------------- */
.single-text-view {
  margin: 0;
  line-height: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  -moz-transition: font-size .4s ease-out .25s;
  -webkit-transition: font-size .4s ease-out .25s;
  -o-transition: font-size .4s ease-out .25s;
  -ms-transition: font-size .4s ease-out .25s;
  transition: font-size .4s ease-out .25s;
}
.single-text-view span {
  font-size: 100%;
}
.single-text-view span small {
  font-size: 50%;
  font-weight: normal;
  margin-right: -5px;
}
p.text-size-small {
  font-size: 32px;
}
p.text-size-middle {
  font-size: 56px;
}
p.text-size-large {
  font-size: 80px;
}
.multiline-text-view {
  font-size: 12px;
  padding: 0 12px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
}


/* image
 -------------------------- */
img.single-image {
  width: 300%;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}



